<!DOCTYPE html>
<html lang="en">
<body>
<h1>Astronomy Photo of the Day</h1>

<h2>{{datastore["title"]}}</h2>
<p><b>Copyright:</b> {{datastore["copyright"]}}</p>
<p><b>Date:</b> {{datastore["date"]}}</p>
<p><b>Explanation:</b> {{datastore["explanation"]}}</p>
<p><b>Media Type:</b> {{datastore["media_type"]}}</p>
<p><b>Service Version:</b> {{datastore["service_version"]}}</p>
<p><b>Url:</b> {{datastore["url"]}}</p>
<p><b>HD Url:</b> {{datastore["hdurl"]}}</p>
<img src='{{datastore["url"]}}'>

</body>
</html>
